@model RWA_Project.Models.ViewModels.ProizvodVM

@{
	ViewBag.Title = "Proizvod [E]";

	SelectList ddlList = this.ViewBag.ddlList as SelectList;
}

<h1 class="my-big-header">Proizvod - Uređivanje</h1>
<hr />

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="w-75 m-auto">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@Html.LabelFor(model => model.IDProizvod, htmlAttributes: new { @class = "" })
			@Html.EditorFor(model => model.IDProizvod, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
			@Html.ValidationMessageFor(model => model.IDProizvod, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "" })
			@Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.BrojProizvoda, htmlAttributes: new { @class = "" })
			@Html.EditorFor(model => model.BrojProizvoda, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.BrojProizvoda, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Boja, htmlAttributes: new { @class = "" })
			@Html.EditorFor(model => model.Boja, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Boja, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.MinimalnaKolicinaNaSkladistu, htmlAttributes: new { @class = "" })
			@Html.EditorFor(model => model.MinimalnaKolicinaNaSkladistu, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.MinimalnaKolicinaNaSkladistu, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.CijenaBezPDV, htmlAttributes: new { @class = "" })
			@{ Html.EnableClientValidation(false); }
			@Html.EditorFor(model => model.CijenaBezPDV, new { htmlAttributes = new { @class = "form-control" } })
			@{ Html.EnableClientValidation(true); }
			@Html.ValidationMessageFor(model => model.CijenaBezPDV, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.PotkategorijaID, htmlAttributes: new { @class = "" })

				@Html.DropDownListFor(
					model => model.PotkategorijaID,
					selectList: ddlList,
					htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.PotkategorijaID, "", new { @class = "text-danger" })

		</div>

		<div class="my-flex-center my-flex-col">
				<input type="submit" value="Save" class="btn btn-primary w-75 mb-1 btnConfirmDialog" />
				@Html.ActionLink("Back to List", "Index")
		</div>
	</div>
}

<div>
	
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		$(() => {
			$("#CijenaBezPDV").removeAttr("data-val");
		});
	</script>
}
